<!DOCTYPE html>
<html lang="en" ng-app="console">
<head>
	<meta charset="UTF-8">
	<title></title>

<link rel="stylesheet" href="style/ctrl.css" />

<!--  http://smoothiecharts.org/ -->
	<script type="text/javascript" src="js/smoothie.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/control.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head >
<!--body onload="createTimeline()" -->
<body>
<div ng-controller="consoleCtrl" ng-init="connect()">
	<div >
		<div class="fbtn" ng-click="prev()">前へ</div>
		<div id="current">現在{{section}}章</div>
		<div class="fbtn" ng-click="next()">次へ</div>
	</div>
	<br />

	<div class="fbtn" ng-click="reset()">評価リセット</div>
	<br />
	<div class="fbtn" ng-click="he()">さんぷるへぇ</div>
	<br />
	<div class="fbtn" ng-click="endroll()">エンドロール開始</div>
	<br />
</div>
	<canvas id="chrt" width="1000px"></canvas>
</body>
<script type="text/javascript">
/*
		console.log('mkchrt');
		var random = new TimeSeries();
		setInterval(function() {
			console.log('test intaval');
			random.append(new Date().getTime(), Math.random() * 10000);
		}, 500);

		function createTimeline() {
			console.log('createTimeLine');
			var chart = new SmoothieChart();
			chart.addTimeSeries(random, { strokeStyle: 'rgba(0, 255, 0, 1)', fillStyle: 'rgba(0, 255, 0, 0.2)', lineWidth: 4 });
			chart.streamTo(document.getElementById("chrt"), 500);
		}*/
</script>
</html>
