<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="./style/endroll.css" type="text/css" />
	<script type="text/javascript" src="../js/endroll.js"></script>
</head>
<body>
<p id="start">おわりに</p>
<h1>
	<p>ソリューション</p>
	<p>システム部</p>
	<sub>使用した技術とか・・・</sub>
</h1>

<div id="titles"><div id="titlecontent">

	<p class="center">HTML5<br />And <br />Web Standart Technology</p>
	
	<p></p>


<p>・aws EC2 (amazon web service)</p>
<p>・aws LB</p>
<p>・HTML5</p>
<p>→ Web Socket</p>
<p>http://www.w3.org/TR/websockets/</p>
<p>→ Web Audio</p>
<p>http://www.w3.org/TR/webaudio/</p>
<p>→ ...</p>
<p>・jQuery</p>
<p>・jQuery Mobile</p>
<p>・Google Web Font</p>
<p>http://www.google.com/fonts/</p>
<p>・Node.js</p>
<p>・Node.js .Forever</p>
<p>・Node.js express</p>
<p>・mocha(behavior driven development)</p>
<p>・chai</p>
<p>・socket-io-client</p>
<p>・git</p>
<p>・gitolite</p>
<p>・gitlab</p>
<p>・gitlab CI</p>
<p>・mySQL</p>
<p>・Create.js</p>
<p>http://www.createjs.com/#!/Create</p>JS
<p>→preloadjs</p>
<p>→SoundJS</p>
<p>→ParticleEmitterJS</p>
<p>http://purplemonkeystudios.org/?page_id=9</p>
<p>http://purplemonkeystudios.org/?page_id=13</p>
<p>・へぇ子ちゃん</p>
<p>・ejsにてrestWebSite化</p>
<p>＠備忘録（もといやりたいこと）</p>
<p>・websocket未対応ブラウザ対応</p>
<p>・へぇ評価をタイムライン（スライド毎？）に集計し、表示するタイミングは未定</p>
<p>・Canvas (へぇ評価をもっとアニメーションさせる)</p>
<p>・CSS3 Animation (上記と同じ)</p>
<p>・mongoDB(へぇ評価集計)</p>


</div></div>

</body>
</html>


