<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="./style/endroll.css" type="text/css" />
	<script type="text/javascript" src="../js/endroll.js"></script>
</head>
<body >
<p id="start">おわりに</p>
<h1>
	<p>ソリューション</p>
	<p>システム部</p>
	<sub>使用した技術とか・・・</sub>
</h1>

<script type="text/javascript" src="js/endroll.js"></script>

<div id="titles"><div id="titlecontent">

<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
	<p class="center">HTML5<br />And <br />Web Standart Technology</p>
	
	<p></p>


<p></p>

<br />
<br />
<p>[スライド画面]</p>
<p>Google Drive(Google Slide)</p>
<p>今回発表の本体部、同時に多人数で編集でき、さらにはネットワーク上から編集できるためメンバーが集まらなくてもスライドの編集ができ、連携ができるのが魅力</p>
<p>&nbsp;&nbsp;http://www.google.com/intl/ja/drive/apps.html</p>

<p>
<p>・Create.js</p>
<p>評価時情報の連携で使う、２次元でCanvasを操作する場合はこのフレームワークが最適、3D描画にする場合はTreeJS（WebGL）がオススメ・・・というかwebGL生で触れる人間なんて選ばれた一部の人間しかいないだろうに・・・</p>
<p>http://www.createjs.com/#!/Create</p>

<p>
<p>ParticleEmitterJS</p>
<p>CreateJS機能の一部、パーティクル描画を容易に記述することができるJavaScriptフレームワーク</p>
<p>http://purplemonkeystudios.org/?page_id=9</p>
<p>http://purplemonkeystudios.org/?page_id=13</p>

<br />
<br />
<br />
<p>
<p>
<p>
<p>[Web評価ボタン]</p>
<p>
<p>・jQuery</p>
<p>・jQuery Mobile</p>
<p>もうこいるはjavascriptではなくJQueryと言う言語
<p>ラムダ式ベースのJavaScriptライブラリ、javascriptでライトな記述が可能となるが、これに依存しすぎると本家JavaScriptが書けなくなるので注意</p>
<p>http://jquery.com/</p>
<p>http://jquerymobile.com/</p>
<p>最近ではレガシー扱いされつつもある。
<p>あと、JQueryしか書けず、ECMA5の仕様を知らない人は、JavaScriptを履歴書の欄に載せないでくださいというのをフロント系SIerさんから愚痴られる。
<p>JQueryとJavascriptは別物！、JQueryとJavaScriptは別物！大切なことなので2回いいました。
<p>DataBinding系FWも出てるし、Ecma6の仕様が策定したらおそらくJQueryは消滅の危機に合うんじゃないかな・・・とMozilla派な自分は思ってる。

<p>・Google Web Font</p>
<p>Webフォントと呼ばれる技術、クライアントにフォントがインストールされていなくとも、特殊な書体の文字を簡単に書くことができる仕組み</p>
<p>http://www.google.com/fonts/</p>
<p>使ってみると分かるが、googlefontsのサイトでより細やかな書体の調整ができるのですごくスムーズにスタイラスな文字がかける用になったのはすごい。
<p>しかし残念ながらデザインセンスとか皆無なので使いどころが思い浮かばない。
<p>

<br />
<br />
<br />
<p>
<p>

<p>[Web評価ボタン（音声版）]</p>
<p>
<p>Web Audio（preloadjs）（SoundJS）</p>
<p>サウンド系はH264かWebMかで実装方式や用意するmp3を考えなければならなかったが、最近はOpera以外H.264のようなので一安心・・・と思いきや
GoogleさんはWebMにすると言ってたりする未だにちょっと大変だったりする部分</p>
<p>メディア関係はまだHardWareアクセラレータの聞くFlashが強いか。
<p>http://www.w3.org/TR/webaudio/</p>
<p></p>

<br />
<br />
<br />
<p>
<p>
<p>[end credit roll(この画面)]</p>
<p>・CSS3 Animation</p>
<p>
<p>過去色々なCSS3のアニメーション描画処理定義はこのひとつにまとまった、
しかしながらアニメーションの描画はCSS3、Canvas、SVG、最近ではWebGLも出てきたのでどのような場合に何を適用すべきかといのが
結構難しいお話になってはいたりする。</p>
<p>まぁ下手に頭悩ませるよりFlashでいいよねと言われたりする現状</p>
<p>でもfalshもAdobeがサポートする気もないので、今はflashでいいけど、これからもflashとは言えない。
<p>http://www.w3.org/TR/css3-animations/</p>
<p>
<p>・AppCache API</p>
<p>オフラインWebを実現するための技術の一つ、ブラウザのキャッシュを任意にコントロールすることができ、保持/リロードのタイミングもサーバー/クライアントの両方で操作することができる。</p>

<br />
<br />
<br />
<p>
<p>
<p>
<p>[コンソール画面]</p>
<p>
<p>・angularJS</p>
<p>googleが作成した脅威のフロントエンドMVW</p>
<p>あるプロジェクトでは１７０００行、数が月と言う見積りのフロントエンド開発を１５００行、3週間で達成するという実績を見せた。</p>
<p>データバインディング、テンプレート機能など様々な機能を持ち、フロントエンドでの構造化、モジュール化開発が可能
<p>しかしながら高度な機能がおおすぎ、さらにかなり自由度の高い記述ができるため、大規模開発などには向かないといわれている。
<p>ライバルとしてはbackboneJS、knockoutJSなど。</p>

<p>・sass/compass
<p>スタイルシートの構造化を行うためのSyntactically Awesome Stylesheetsと言うメタ言語
<p>AltJS + Sass/compassで書くと知らない世界が見えてくる。
<p>まぁ覚えるの大変だけども。
<p>
<br />
<br />
<br />
<p>
<p>
<p>[ばっくぐらうんど]</p>
<p>
<p>・aws EC2 (amazon web service)</p>
<p>Amazon Web Service (西海岸/東京リージョン）西海岸リージョンで構築し、東京リージョンとかアフリカのリージョンに引っ越したりしてみたが、WebSocket通信を使った場合の通信遅延は誤差0.5秒くらいに抑えれたので、やっぱり西海岸リージョンに戻ることとなった。
<p>海外だと通信速度が～とか色々言われるが、個人でサービスを立ち上げて日本で展開する場合、全然西海岸でも問題ないよね、という実験ができた。
<p>永続的に使うと一番値段がかかるが、操作性、スケーラビリティー、信頼性はやはりVPSの中では一番だと実感。
<p>
<p>・さくら VPS</p>
<p>イベントで3ヶ月無料券をもらったのでいろいろ触ってみたりサービス立ち上げてみたりこのプレゼンツール乗っけてみたり。
<p>国産VPSの中では一番の性能/信頼性だと思う。
<p>素晴らしいのはやはりサポート体制がしっかりしているのと回線速度だろうか。
<p>
<p>・conoHa VPS</p>
<p>CONOHA CHAN KAWAII !!
<p>個人的にやってるコミュニティーのスポンサーになってくれてる企業なので、そこで色々使い倒してみたり。
<p>ここでも3千円無料券をもらったので色々個人的に実験してみる。
<p>信頼性/通信速度は有名どころのVPSに今一歩及ばないが、webコンソールやマニュアルが優秀であり
<p>無料でVPSセミナー、導入支援等も行っているため技術的なハードルが一番低い。
<p>
<p>
<br />
<br />
<br />
<p>
<p>[HTML5]Web Socket</p>
<p>
<p>http://www.w3.org/TR/websockets/</p>
<p>・Node.js</p>
<p>言わずと知れたJavaScriptServerSide技術・・・と言うのは一昔前の話であり、今はrailsと双璧をなす開発支援ツールとなっている。
<p>有名どころでは、npmを用いた環境でyeoman、grunt、bower、stylesなどがあげられる。
<p>rubyより優れている点といえば、nodejsServer上では様々な言語やAltJSと呼ばれるJavaScript上位言語での開発が可能な他、JavaVMも搭載され、java系言語でのプログラミングも可能となっている。
<p>昨今ではnodeJSベースのlinuxディストリビューションであるnodeOSなどが開発されるなど、変化、汎用性に留まるところを知らない。
<p>
<p>・Node.js .Forever</p>
<p>NodeJSで構築したWebサービスを永続化させる仕組みのひとつ。
<p>
<p>・Node.js express</p>
<p>nodeJS用webフレームワーク、ネット上に情報が多く軽量で素早く立ち上げれる。
<p>
<p>・socket-io-client</p>
<p>WebSocket通信を確立する為のNodeJSフレームワークの一つ、様々なWebSocketモジュールがあるが、仕様自体はそんなにおおきなものでなく、半確定してるのでどれも一緒だとおもう。
<p>
<p>・mongoDB(へぇ評価集計)</p>
<p>key-Value型 noSQL DataBaseで一番有名な子、構築、展開が五分くらいで終わるのでちょっとしたアプリ開発環境の永続化リソースにつかうにはもってこい、ごっつい業務で使う場合はこの子はキャッシュで使うのが理想。
<p>
<p>・Fusion Table(へぇ評価集計)</p>
<p>リアルタイム変化グラフ、使ってみたかったので使ってみたが汎用性があまりない・・・これならJQuery Chartのほうが使い勝手がいいかな。
<p>
<p>・RestIfy
<p>NodeJSで手軽にRestServerを構築する為のフレームワーク、AWS契約していれば五分でRESTサービス仮想環境ができるくらいすごい子。
<p>しかしWebSocketまわりと組み合わせてテクニカルな事をさせると挙動がおかしくなる。
<p>https://github.com/dbamber/node-google-sql</p>

<p>
<p>
<p>

<br />
<br />
<br />

<p>[Others(その他)]</p>
<p>Google Drive(Google Docs,Splet Sheets)</p>
<p>議事録に使用したり</p>
<p>
<p>&nbsp;&nbsp;http://www.google.com/intl/ja/drive/apps.html</p>
<p>
<p>・jassmine
<p>一番有名なBDDテストモジュール
<p>フロント系の単体テスト作成と評価に使用
<p>
<p>・karma</p>
<p>フロント系テスト支援もジュール、Grunt-moduleやYoemanGeneleterにデフォルトで組み込まれてたりするので一番使うことが多くなるテストもジュール
<p>
<p>・mocha(behavior driven development)</p>
<p>フロントエンド系BDDテストモジュール
<p>主にサーバー側のテストケース構築に仕様

<p>・chai</p>
<p>フロントエンド系単体テストツールモジュールその１
<p>
<p>
<p>
<p>・git</p>
<p>みんなだいすきgit！
<p>基本コマンドベースのバージョン管理ツールだが、最近ではMac、Windows両方で使用可能となっている優秀なGUIが出始めたため一般企業でも使われることが多くなった。
<p>しかしUbuntuにはそんな優秀なGUIツールはない！
<p>
<p>・github</p>
<p>git中継サーバー、お金を払うとprivateRipositoryを作ることもできる。
<p>エンタープライズ界隈でも徐々に使われつつあるが、まだ浸透しきってない。
<p>ブランチ開発＆マイルストーン管理でWBSなくとも進捗把握やスケジュールができるなどの使いこなせばとても優秀なツール
<p>
<p>
<p>
<p>・gitolite / gitlab</p>
<p>githubをforkして、完全private空間で使用できるようにしたサーバーアプリケーション、基本nginxで動く。
<p>大企業で共有gitリポジトリを使う場合はgithubよりもこちらのgitlabを使用する場合が多い。
<p>
<p>・gitlab CI</p>
<p>gitlab用に尖ったCIツール、
<p>
<p>・mariaDB</p>
<p>gitlabのDBがmySQLしかつかえないとかふざけたことを言ってたのでさらにforkしてmariaDBで使えるようにしたった、oracleの飼い犬に成り下がったmySQLにはもう用は無いじゃば
<p>
<p>
<p>[スペシャル ★  さんくす]</p>
<p>全体講習チーム</p>
<p>ソリューションチーム</p>
<p>へぇ子ちゃん</p>
<p>yeoman</p>
<p>the Fox</p>
<p>Grunt</p>
<p>三雲 このは</p>
<p>三雲 あんず</p>
<p>
<p>とはいえ、もう半年以上前の技術なので、実はモダンじゃなくてここで紹介している技術の半分以上はもうレガシー
<p>yeoman + grunt + bower による開発環境とAngularJS / boackboneJS / knokcoutJS、そしてsass/compass styles、AltJSを用いたのがいまのモダンなフロントエンド開発。
<p>殆どの機能がプロトタイプor未使用な恥ずかしいソースなので、このサービスは、この講習が終了後、完全にソースを消滅させます。
<p></p>


<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
<p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>

</div></div>
<script type="text/javascript">
window.addEventListener('load', init(), false);
</script>
</body>
</html>


