<!DOCTYPE html>
<html>
<head>
 
 <title>
 <%= title %>
 </title>
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.css" />
<style>
p{
font-family: 'Audiowide', cursive;	
}

img#btn_he {
	width  : 140px;
	height : 180px; 
}
</style>

<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.3.1/jquery.mobile-1.3.1.min.js"></script>
<script src="./js/he.js"></script>
</head>
<body>
  <div id="base">
<p>
wellcome to hee button!
</p>
	<img id="btn_he" src="./img/heeko.png" />
</div>
</body>
<script>
if (WebSocket){
	$(document).ready(function() {
		hEvent.init();
		hEvent.setMousEvent('#btn_he');
	});
}else{ 
	alert('お使いのブラウザではwebsocket対応しておりません');
}
</script>
</html>
