<!DOCTYPE html>
<html>
<head>
 
 <title>
 <%= title %>
 </title>
 <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" /> 
 <link href='http://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet' type='text/css'>
<style>
p{
font-family: 'Audiowide', cursive;	
}

img#btn_he {
	width  : 140px;
	height : 180px; 
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
 <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
<script src="./js/he.js"></script>
</head>
<body>
  <div id="base">
<p>
wellcome to hee button!
</p>
	<img id="btn_he" src="./img/heeko.png" />

  </div>
</body>
</html>
