<!DOCTYPE html>
<html>
<head>
	<title> heSound </title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="./js/buffer-loader.js" ></script>
	<script src="./js/heSound.js"></script>
</head>
<body >
 	おとがでるよ！
</body>
</html>
