<!DOCTYPE html>
<html>
<head>
	<title> pressen </title>
	<link href='http://fonts.googleapis.com/css?family=Bubbler+One' rel='stylesheet' type='text/css'>
<style>

body {
	height:100%;
}

label.abs {
	position	: absolute;
	top			: 186px;
	right 		: 100px;
	background-color: igba(255,255,255,0);
	font-family: 'Bubbler One', sans-serif;
	color : #FFFF55;
	font-size : 30px;
	font-weight: bold;
}
canvas.abs {
	background-color: rgba(255,255,255,0);
	position	: absolute;
	top		: 40px;
	right		: 10px;
}



</style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="js/libs/easeljs-0.5.0.min.js"></script>
    <script src="js/libs/tweenjs-0.3.0.min.js"></script>
    <script src="js/libs/movieclip-0.5.0.min.js"></script>
    <script src="js/libs/preloadjs-0.2.0.min.js"></script>
    <script src="js/libs/Filter.js"></script>
    <script src="js/libs/ColorFilter.js"></script>
    <script src="js/libs/particleEmitterJs-0.5.0.min.js"></script>
	<script src="./js/presen.js"></script>
</head>
<body>

<iframe id="viewFrame"
	src=""
	frameborder="0" width="100%" height="100%" 
	allowfullscreen="true" mozallowfullscreen="true" 
	webkitallowfullscreen="true"></iframe>
<!--
<iframe src="/chart" frameborder="0" width="100%" height="100%"
		allowfullscreen="true"
		mozallowfullscreen="true"
		webkitallowfullscreen="true"
		></iframe>
<iframe src="/endroll" frameborder="0" width="100%" height="100%"
		allowfullscreen="true"
		mozallowfullscreen="true"
		webkitallowfullscreen="true"
		></iframe>
-->
<div style="text-align : right;">
 			<canvas id="heeko" class="abs" width="180" height="225"></canvas>
 			<canvas id="particleEmitterCanvas" class="abs" width="200" height="200"></canvas>
			<label class="abs" id="lblA" >0</label>
		</div>
</body>
</html>
